<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ebeef2">
    <title>Sabitsuki::{{ key }}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <link href="/static/css/abc.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/static/img/app.png">
    <link rel="apple-touch-icon-precomposed" href="./static/img/app.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileColor" content="ebeef2">
    <meta name="msapplication-TileImage" content="/static/img/app.png">
    <meta name="theme-color" content="#ebeef2">
    <meta property="og:title" content="Note.ms">
    <meta property="og:site_name" content="Note.ms">
    <meta property="og:description" content="Take notes with simplicity">
    <meta property="og:image" content="/static/img/app.png">
</head>

<body>
    <div class="stack">
        <div class="layer">
            <div class="layer">
                <div class="layer">
                    <div class="content">
{{ text|markdown }}
                    </div>
                </div>
            </div>
        </div>
        <div class="flag">
            <a href="/">Sabitsuki</a>::<a href="/{{ key }}?selector">{{ key }}</a>/{{ page }}
        </div>
    </div>
    <pre class="print">
{{ text|markdown }}
    </pre>


</body>

</html>